.Hero{
    &-container{
        padding: 100px;
        max-width: 1500px;

        h1 {
            margin-bottom: 41px;
        }
        >a {
            display: inline-block;
            height: 48px;
            width: 48px;
            margin: 0 12.5px;
            &:first-of-type{
                margin-left: 0;
            }
        }

    }
}