.LanguageButton {
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: #FFFF;
    background: #3275F7;
    border-radius: 25px;
    cursor: pointer;
    &:hover{
        color: #3275F7;
        background: #FFFFFF;
    }
    .dropDown{
        width: 50px;
        position: relative;
        display: inline-block;
        text-align: center;
        &-content{
            display: none;
            position: absolute;
            z-index: 1;
            >div {
                margin: 12px 0;
                background: #3275F7;
                color: #FFFFFF;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                text-align: center;
                &:hover{
                    color: #3275F7;
                    background: #FFFFFF;
                }
            }
        }

    }
    .dropDown:hover .dropDown-content{
        display: block;
        div:first-child{
            animation-name: slideIn;
            animation-duration: 0.40s;
        }
        div:nth-child(2){
            animation-name: slideIn;
            animation-duration: 0.80s;
        }
        div:nth-child(3){
            animation-name: slideIn;
            animation-duration: 1.2s;
        }
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes slideIn {
        0% {
            opacity: 0;
            right: 50px;
        }
        50% {
            opacity: 0;
        }
        100% {
            right: 0;
        }
    }
    
    /* Standard syntax */
    @keyframes slideIn {
        0% {
            opacity: 0;
            right: 50px;
        }
        50% {
            opacity: 0;
        }
        100% {
            right: 0;
        }
    }
}