@import "variables";

.Hero{
    background: linear-gradient(180deg, #F8C053 9.56%, #F7B432 65.44%, #F8C053 112.48%);
    height: calc(100vh - 70px);
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 100px;
    min-width: 280px;

    h1, h2{
        color: $secondary-var; 
    }

    &-Title{
        font-family: "Paytone One";
        // font-size: 13vw;
        font-size: 300%;
        max-width: 90vw;
        color: $secondary-var;
        margin-bottom: 38px;
    }
    &-SubTitle{
        font-size: 200%;
        // transform: rotate(-5.29deg);
        // position: absolute;
        // bottom: 0;
        // right: -40px;
        margin-bottom: 75px;
    }
    &-button{
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // transform: rotate(9.95deg);
        background: #FFFFFF;
        color: $secondary-var;
        height: 60px;
        width: 220px;
        text-align: center;
        display: inline-block;
        &:hover {
            color: #FFFFFF;
            background: $secondary-var;
        }
        >span {
            text-decoration: none;
            color: unset;
            text-transform: uppercase;
            font-family: "Paytone One";
            line-height: 60px;
           
        }
    }
    @include mobile {
        padding: 5px;
        font-size: 4vw;
    }
}

.Background{
    background: linear-gradient(180deg, #F8C053 9.56%, #F7B432 65.44%, #F8C053 112.48%);
    overflow-x: hidden;
    position: relative;
    min-height: calc(100vh - 70px);

    h1, h2{
        color: $secondary-var; 
    }

    .Container {
        padding: 100px;
    }
}