.Navbar {
    height: 70px;
    background: #F8C053;
    font-family: 'Paytone One';
    .siteTitle {
        display: inline-block;
        font-size: 40px;
        line-height: 70px;
        margin-left: 20px;
    } 
    &-menu {
        height: 70px;
        padding: 10px 15px;
        float: right;
        >span {
            padding: 0 45px;
            a{
                text-decoration: none;
                color: #000000;
            }

        }
    }
}