@mixin mobile {
    @media screen and (max-width: 768px){
        @content
    }
}

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    pointer-events: none;
}

.Navbar {
    height: 70px;
    background: #F8C053;
    font-family: 'Paytone One';
    .siteTitle {
        display: inline-block;
        font-size: 40px;
        line-height: 70px;
        margin-left: 20px;
        a {
            color: #000000;
            text-decoration: none;
        }
        @include mobile{
            font-size: 30px;
            margin-left: 12px;
        }

    } 
    &-menu {
        height: 70px;
        padding: 10px 15px;
        float: right;
        >span {
            padding: 0 45px;
            a{
                text-decoration: none;
                color: #000000;
                &:hover {
                    color: #FFFFFF;
                }
            }

        }
        @include mobile {
            display: none;    
        }
    }
}